body {
    background-color: #f7f8fc !important;
}
h2 {
    color: rgb(55 65 81)
}

main > .container {
    padding: 15px;
    letter-spacing: 0.4px;
}

.footer {
    background-color: #f5f5f5;
    font-size: .9em;
    height: 60px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding-top: 7px;
    color: black;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}
.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
    color: rgb(60, 60, 214) !important;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.cover-img {
    width: 100%;
    border-radius: 0.3rem;
}

.group-card:hover{
    box-shadow: 10px 10px 15px -3px rgb(0 0 0 / 0.1), 10px 4px 6px -4px rgb(0 0 0 / 0.1);
}
.group-card {
    transition-timing-function: ease-in;
    transition: 200ms;
}

.group-title{
    font-size: large;
}
.group-title > a {
    color: #1d4ed8;
}

.item-description > a {
    display: block;
    color: #1d4ed8;
}

.item-container {
    width: 80%;
    border-bottom: 1px solid #dcdcdc;
    transition-timing-function: ease-in;
    transition: 200ms;
    padding-bottom: 1.2rem !important;
}

.item-container:hover{
    box-shadow: 10px 10px 15px -3px rgb(0 0 0 / 0.1), 10px 4px 6px -4px rgb(0 0 0 / 0.1);
}

.item-thumbnail {
    width: 8rem;
    border-radius: 0.3rem;
}

.item-big-image{
    width: 100%;
    height: 100%;
    border-radius: 0.2rem;
}

.big-img-container {
    width: 40rem;
    max-width: 40rem;
}

.current-bid{
    font-weight: 600;
    border-bottom: 1px solid #dcdcdc;
}

.description-title{
    color:rgb(129, 129, 129)
}

.form-control {
    border-radius: 0.6rem !important;
}

.btn{
    border-radius: 0.7rem !important;
}

.bid-container {
    background-color: white;
    box-shadow: 3px 4px 15px 0 rgba(22, 22, 22, 0.22);
}

.country-flag {
    height: 0.975rem;
}

.breadcrumb {
    background-color: #f7f8fc !important ;
}

.table{
    border: 1px solid gainsboro;
    border-radius: 0.8rem;
    border-collapse: separate; 
}

.table thead th{
    border-bottom: none;
}

.table th {
    border-top: none;
}

.table thead {
    border-radius: 2rem !important;
    border-collapse: separate; 
}

.table thead a {
    color: rgb(39, 39, 150);
}

.pagination {
    border-radius: 1rem !important;
    border-collapse: separate; 
}

.search-btn {
    border-radius: 0.7rem !important;
}

@media(max-width: 991.98px) {
.container, .container-sm, .container-md, .container-lg, .container-xl{ 
    max-width: 100% !important;
    }
}

@media(min-width: 1200px) {
.container, .container-sm, .container-md, .container-lg, .container-xl{
    max-width: 1400px !important;
    }
}

.group-container {
    margin-left: -10px !important   ;
}

.item-bid-container {
    margin-left: 1rem;
}

.navbar{
    background-color: #f7f8fc !important;
}

.navbar a {
    color: black;
}

.nav-link:hover {
    color: rgb(60, 60, 214) !important;
}

.search-img {
    color: black;
    top: 0px;
    right: 0px;
    width: 1rem;
    margin-top: 0.35rem;
}

@media (min-width: 576px) { 
    .cover-img{
        width: 15rem !important;
    }

    .auction-groups {
        justify-content: flex-start !important;
    }
}
@media(min-width:590px){

    .auction-groups {
        justify-content: center !important;
    }
}

@media (min-width: 992px) {
    .thumbnail-container {
        margin-right: 4.5rem !important;
    }
    .bid-container{
        margin-left: 5rem !important;
    }
 }

@media (min-width: 1200px) {
    .thumbnail-container {
        margin-right: 2.5rem !important;
    }
    .bid-container {
        margin: 0 !important;
    }
 }

.auction-items-container {
    margin-left: 1rem !important;
}

.navbar-nav{
    flex-wrap: nowrap !important;
    align-items: center;
}

.item-img{
    border-radius: 0.3rem;
}
