body {
    background-color: #f7f8fc !important;
}
h2 {
    color: rgb(55 65 81)
}

main > .container {
    padding: 70px 15px 20px;
    letter-spacing: 0.8px;
}

.footer {
    background-color: #f5f5f5;
    font-size: .9em;
    height: 60px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.cover-img {
    width: 14rem;
    object-fit: cover;
    border-radius: 0.5rem;
}
.group-card:hover{
    box-shadow: 10px 10px 15px -3px rgb(0 0 0 / 0.1), 10px 4px 6px -4px rgb(0 0 0 / 0.1);
}
.group-card {
    transition-timing-function: ease-in;
    transition: 200ms;
}

.group-title{
    font-size: large;
}
.group-title > a {
    color: #1d4ed8;
}

.item-description > a {
    display: block;
    color: #1d4ed8;
}

.item-container {
    width: 40rem;
    border-bottom: 1px solid #dcdcdc;
}

.item-thumbnail {
    width: 5rem;
    border-radius: 0.3rem;
}

.item-big-image{
    width: 40em;
    border-radius: 0.2rem;
}

.big-img-container {
    flex: 0;
}

.current-bid{
    font-weight: 600;
    border-bottom: 1px solid #dcdcdc;
}

.description-title{
    color:rgb(129, 129, 129)
}

.form-control {
    border-radius: 0.5rem;
}

.btn{
    border-radius: 0.7rem;
}

.bid-container {
    background-color: white;
    box-shadow: 3px 4px 15px 0 rgba(22, 22, 22, 0.22);
}

.country-flag {
    height: 0.975rem;
    margin-right: 10px;
}
